<h2>CREDITS</h2>
<footer class="credits">
    <div class="credits__info">
        <p>Desarrollado por <br> Iwashu_ / iwashux</p>
        <a href="https://github.com/Iwashux/template-builds-zenless_zone_zero">
            <img src="img/logos/my-logo.png" alt="">
        </a>
    </div>
</footer>
<footer class="credits">
    <div class="credits__info">
        <p>Basado en el diseño de Its_Eon / @gt_eon</p>
        <a href="https://beacons.ai/gt_eon">
            <img src="img/logos/gt_eon-logo.png" alt="">
        </a>
    </div>
    <div class="credits__icons">
        <a href="https://www.youtube.com/channel/UCi0bApu69bqlVMlZcmW29xQ" class="fa-brands fa-youtube"></a>
        <a href="https://www.tiktok.com/@gt_eon" class="fa-brands fa-tiktok"></a>
        <a href="https://x.com/gt_eon/" class="fa-brands fa-x-twitter"></a>
        <a href="https://www.instagram.com/gt_eon/" class="fa-brands fa-instagram"></a>
        <a href="https://discord.com/invite/bN755KxfMr" class="fa-brands fa-discord"></a>
    </div>
</footer>