<section class="selected__skills__container">
    <img class="skill__selectable component__selectable" src="img/skills/core.webp" alt="">
    <img class="skill__selectable component__selectable" src="img/skills/basic.webp" alt="">
    <img class="skill__selectable component__selectable" src="img/skills/dodge.webp" alt="">
    <img class="skill__selectable component__selectable" src="img/skills/assist.webp" alt="">
    <img class="skill__selectable component__selectable" src="img/skills/special.webp" alt="">
    <img class="skill__selectable component__selectable" src="img/skills/ulti.webp" alt="">
</section>