<li><img class="skill__selectable component__selectable" src="img/skills/core.webp" alt=""></li>
<li><img class="skill__selectable component__selectable" src="img/skills/basic.webp" alt=""></li>
<li><img class="skill__selectable component__selectable" src="img/skills/dodge.webp" alt=""></li>
<li><img class="skill__selectable component__selectable" src="img/skills/assist.webp" alt=""></li>
<li><img class="skill__selectable component__selectable" src="img/skills/special.webp" alt=""></li>
<li><img class="skill__selectable component__selectable" src="img/skills/ulti.webp" alt=""></li>